
@{
    Layout = null;
}

<!DOCTYPE html>

<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<head>
    <title>支付 - 猫眼电影 - 一网打尽好电影</title>


    <link rel="dns-prefetch" href="//p0.meituan.net" />
    <link rel="dns-prefetch" href="//p1.meituan.net" />
    <link rel="dns-prefetch" href="//ms0.meituan.net" />
    <link rel="dns-prefetch" href="//s0.meituan.net" />
    <link rel="dns-prefetch" href="//ms1.meituan.net" />
    <link rel="dns-prefetch" href="//analytics.meituan.com" />
    <link rel="dns-prefetch" href="//report.meituan.com" />
    <link rel="dns-prefetch" href="//frep.meituan.com" />


    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="cleartype" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />

    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="email=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script>"use strict";!function(){var i=0<arguments.length&&void 0!==arguments[0]?arguments[0]:"_Owl_",n=window;n[i]||(n[i]={isRunning:!1,isReady:!1,preTasks:[],dataSet:[],use:function(i,t){this.isReady&&n.Owl&&n.Owl[i](t),this.preTasks.push({api:i,data:[t]})},add:function(i){this.dataSet.push(i)},run:function(){var t=this;if(!this.isRunning){this.isRunning=!0;var i=n.onerror;n.onerror=function(){this.isReady||this.add({type:"jsError",data:arguments}),i&&i.apply(n,arguments)}.bind(this),(n.addEventListener||n.attachEvent)("error",function(i){t.isReady||t.add({type:"resError",data:[i]})},!0)}}},n[i].run())}();</script>
    <script>
  cid = "c_wmvmtivj";
  ci = 10;
    window.system = {"user":{"id":154731690,"token":"_JNXt0u05Na4YCfA1-63XqIHLoUAAAAAkQgAALvTUv_x93pteZREO9EoDnXFHdr9fKmTd67Tj50uB2VN471sSttbQCwLpWJX604utA","username":"yBt415082786","profile":{"age":"25","avatarType":0,"avatarurl":"https://img.meituan.net/maoyanuser/7050be720bc70eee8c86c0add2026bc87764.png","birthday":-2240553957000,"currentExp":160,"gender":0,"id":154731690,"juryLevel":0,"maoyanAge":"4","nextTitle":"","nickName":"yBt415082786","nickNameStatus":0,"registerTime":1422683484000,"roleType":0,"signatureStatus":0,"ticketCount":2,"title":"白银会员","topicCount":0,"totalExp":500,"uid":1529584000,"userLevel":2,"userNextLevel":3,"username":"yBt415082786","vipType":0,"visitorCount":0}},"uid":154731690,"cinemaId":13237,"mobilePhone":"18641980797","orderId":"21046971365"};

  window.openPlatform = '';
  window.openPlatformSub = '';
  window.$mtsiFlag = '0';

    </script>
    <link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/common.d0f96cc2.css" />
    <link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/order-confirm.598bbaa8.css" />
    <script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/stat.88d57c80.js"></script>
    <script>if(window.devicePixelRatio >= 2) { document.write('<link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image-2x.8ba7074d.css"/>') }</script>
</head>
<body>


    <div class="header">
        <div class="header-inner">
            <a href="/" class="logo" data-act="icon-click"></a>
            <div class="city-container" data-val="{currentcityid:10 }">
                <div class="city-selected">
                    <div class="city-name">
                        上海
                        <span class="caret"></span>
                    </div>
                </div>
                <div class="city-list" data-val="{ localcityid: 10 }">
                    <div class="city-list-header">定位城市：<a class="js-geo-city">上海</a></div>

                </div>
            </div>


            <div class="nav">
                <ul class="navbar">
                    <li><a href="/" data-act="home-click">首页</a></li>
                    <li><a href="/films" data-act="movies-click">电影</a></li>
                    <li><a href="/cinemas" data-act="cinemas-click">影院</a></li>
                    <li><a href="http://www.gewara.com">演出</a></li>

                    <li><a href="/board" data-act="board-click">榜单</a></li>
                    <li><a href="/news" data-act="hotNews-click">热点</a></li>
                    <li><a href="/edimall">商城</a></li>
                </ul>
            </div>

            <div class="user-info">
                <div class="user-avatar has-login">
                    <img src="https://img.meituan.net/maoyanuser/7050be720bc70eee8c86c0add2026bc87764.png">
                    <span class="caret"></span>
                    <ul class="user-menu">
                        <li class="text">
                            <a href="/profile/orders">我的订单</a>
                        </li>
                        <li class="text login-name" title="yBt415082786"><a href="javascript:void 0">基本信息</a></li>
                        <li class="text"><a href="javascript:void 0" class="J-logout" data-act="logout-click">退出登录</a></li>
                    </ul>
                </div>
            </div>

            <form action="/query" target="_blank" class="search-form" data-actform="search-click">
                <input name="kw" class="search" type="search" maxlength="32" placeholder="找影视剧、影人、影院" autocomplete="off">
                <input class="submit" type="submit" value="">
            </form>

            <div class="app-download">
                <a href="/app" target="_blank">
                    <span class="iphone-icon"></span>
                    <span class="apptext">APP下载</span>
                    <span class="caret"></span>
                    <div class="download-icon">
                        <p class="down-title">扫码下载APP</p>
                        <p class='down-content'>选座更优惠</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
    <div class="header-placeholder"></div>


    <div class="container" id="app" class="page-order/confirm">
        <div class="order-progress-bar">
            <div class="step first done">
                <span class="step-num">1</span>
                <div class="bar"></div>
                <span class="step-text">选择影片场次</span>
            </div>
            <div class="step done">
                <span class="step-num">2</span>
                <div class="bar"></div>
                <span class="step-text">选择座位</span>
            </div>
            <div class="step done">
                <span class="step-num">3</span>
                <div class="bar"></div>
                <span class="step-text">14分钟内付款</span>
            </div>
            <div class="step last ">
                <span class="step-num">4</span>
                <div class="bar"></div>
                <span class="step-text">影院取票观影</span>
            </div>
        </div>


        <div class="count-down-wrapper">
            <div class="count-down" data-payleftseconds="598">
                <p class="time-left">
                    请在
                    <span class="minute">9</span>
                    分钟
                    <span class="second">58</span>秒内完成支付
                </p>
                <p class="tip">超时订单会自动取消，如遇支付问题，请致电猫眼客服：1010-5335</p>
            </div>
        </div>

        <p class="warning">请仔细核对场次信息，出票后将<span class="attention">无法退票和改签</span></p>

        <table class="order-table">
            <thead>
                <tr>
                    <th>影片</th>
                    <th>时间</th>
                    <th>影院</th>
                    <th>座位</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="movie-name">《X战警：黑凤凰》</td>
                    <td class="showtime">今天 6月8日 22:00</td>
                    <td class="cinema-name">万达影城（金山万达广场店）</td>
                    <td>
                        <span class="hall">5号-4K杰尼龟厅</span>
                        <div class="seats">
                            <div>
                                <span class=""><i>9</i>排<i>5</i>座</span>
                            </div>
                            <div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="right">
            <div class="price-wrapper">
                <span>实际支付 :</span>
                <span class="price">55.9</span>
            </div>
            <div><div class="pay-btn" data-order-id="21046971365" data-act="pay-click" data-bid="b_u30afks6">确认支付</div></div>
        </div>

        <form name="cashierForm" method="post" action="https://mpay.meituan.com/cashier/pc/index">
            <input type="hidden" name="token" value="">
            <input type="hidden" name="tradeno" value="">
            <input type="hidden" name="pay_token" value="">
            <input type="hidden" name="website" value="mtmaoyan">
            <input type="hidden" name="pay_success_url" value="http://www.maoyan.com/order/result/21046971365">
            <input type="hidden" name="nb_platform" value="www">
            <input type="hidden" name="nb_source" value="cashier-pcforcustomer">
        </form>


        <div class="modal-container" style="display:none">
            <div class="modal">
                <span class="icon"></span>

                <p class="tip">支付超时，该订单已失效，请重新购买</p>

                <div class="ok-btn btn">我知道了</div>
            </div>
        </div>

    </div>

    <div class="footer">
        <p class="friendly-links">
            关于猫眼 :
            <a href="http://ir.maoyan.com/s/index.php#pageScroll0" target="_blank">关于我们</a>
            <span></span>
            <a href="http://ir.maoyan.com/s/index.php#pageScroll1" target="_blank">管理团队</a>
            <span></span>
            <a href="http://ir.maoyan.com/s/index.php#pageScroll2" target="_blank">投资者关系</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            友情链接 :
            <a href="http://www.meituan.com" data-query="utm_source=wwwmaoyan" target="_blank">美团网</a>
            <span></span>
            <a href="http://www.gewara.com" data-query="utm_source=wwwmaoyan">格瓦拉</a>
            <span></span>
            <a href="http://i.meituan.com/client" data-query="utm_source=wwwmaoyan" target="_blank">美团下载</a>
            <span></span>
            <a href="https://www.huanxi.com" data-query="utm_source=maoyan_pc" target="_blank">欢喜首映</a>
        </p>
        <p class="friendly-links">
            商务合作邮箱：v@maoyan.com
            客服电话：10105335
            违法和不良信息举报电话：4006018900
            <br />
            投诉举报邮箱：tousujubao@meituan.com
            舞弊线索举报邮箱：wubijubao@maoyan.com
        </p>
        <p>
            &copy;2016
            猫眼电影 maoyan.com
            <a href="https://tsm.miit.gov.cn/pages/EnterpriseSearchList_Portal.aspx?type=0&keyword=京ICP证160733号&pageNo=1" target="_blank">京ICP证160733号</a>
            <a href="http://www.miibeian.gov.cn" target="_blank">京ICP备16022489号-1</a>
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102003232" target="_blank">京公网安备 11010102003232号</a>
            <a href="/about/licence" target="_blank">网络文化经营许可证</a>
            <a href="http://www.meituan.com/about/rules" target="_blank">电子公告服务规则</a>
        </p>
        <p>北京猫眼文化传媒有限公司</p>
    </div>

    <script crossorigin="anonymous" src="//www.dpfile.com/app/owl/static/owl_1.7.11.js"></script>
    <script>
      Owl.start({
        project: 'com.sankuai.movie.fe.mywww',
        pageUrl: location.href.split('?')[0].replace(/\/\d+/g, '/:id'),
        devMode: false
      })
    </script>
    <!--[if IE 8]><script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/es5-shim.bbad933f.js"></script><![endif]-->
    <!--[if IE 8]><script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/es5-sham.d6ea26f4.js"></script><![endif]-->
    <script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/common.96634b92.js"></script>
    <script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/order-confirm.9c99f3fd.js"></script>
</body>
</html>
