
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flat Login Form 3.0</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
    <link href="~/1_flat-login-form-3-0/css/style.css" rel="stylesheet" />
</head>
<body>

    <!-- Form Mixin-->
    <!-- Input Mixin-->
    <!-- Button Mixin-->
    <!-- Pen Title-->
    <div class="pen-title">
        <h1>忘记密码</h1>
    </div>
    <!-- Form Module-->
    <button id="Code"value="3366" hidden></button>
    <div class="module form-module">
        <div class="toggle">
            <i class="fa fa-times fa-pencil"></i>
        </div>
        <div class="form">
            <h2>忘记密码</h2>
            <input id="Moble" name="PhoneNum" type="text" placeholder="手机号" />
            <input id="getCode" type="button" class="btn btn-block" value="获取验证码" onclick="GetGodeMassage()" />
            <input id="num" type="text" placeholder="短信动态码" />
            <button type="submit" onclick="GoEdit()">提交</button>
        </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script src='https://codepen.io/andytran/pen/vLmRVp.js'></script>
    <script src="~/1_flat-login-form-3-0/js/index.js"></script>


</body>
</html>
<script>
    function GoEdit() {
        var phone = document.getElementById('Moble').value;
        var code = document.getElementById('num').value;
        var getCode = document.getElementById('Code').value;
        if (phone.length<0) {
            alert("请先填写手机号！");
            return false;
        }
        if (!(/^1[3456789]\d{9}$/.test(phone))) {
            alert("手机号码有误，请重填");
            return false;
        }
        if (code.length<0) {
            alert("请先确认验证码！");
            return false;
        }
        if (code != getCode) {
            alert("请先确认验证码！");
            return false;
        }
        else {
            location.href = "/Film/EditPwd?PhoneNum=" + phone;
        }
        
    }
    function GetGodeMassage() {
        var phone = document.getElementById('Moble').value;
        if (phone.length<0) {
            alert("请先填写手机号！");
            return false;
        }
        if (!(/^1[3456789]\d{9}$/.test(phone))) {
            alert("手机号码有误，请重填");
            return false;
        }
        var wait = 30;
        function time(obj) {
            if (wait == 0) {
                obj.className = 'getCode';
                obj.removeAttribute("disabled");
                obj.value = "";
                wait = 30;
            } else {
                obj.className = 'btnCodeDisabled';//按钮变灰，不可点击
                obj.setAttribute("disabled", true);
                obj.value = "重新发送(" + wait + ")";
                wait--;
                setTimeout(function () {
                    time(obj)
                },
                    1000)
            }
        }
        document.getElementById("getCode").onclick = function () { time(this); }
        $.ajax({
            url: "/Film/MessageTest?PhoneNum=" + phone,
            type: "get",
            dataType: "json",
            success: function (data) {
                return;
            }
        })
    }
</script>