
@{
    Layout = null;
}

<!DOCTYPE html>

<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html>
<!--<![endif]-->
<head>
    <title>影院 - 猫眼电影 - 一网打尽好电影</title>

    <link rel="dns-prefetch" href="//p0.meituan.net" />
    <link rel="dns-prefetch" href="//p1.meituan.net" />
    <link rel="dns-prefetch" href="//ms0.meituan.net" />
    <link rel="dns-prefetch" href="//s0.meituan.net" />
    <link rel="dns-prefetch" href="//ms1.meituan.net" />
    <link rel="dns-prefetch" href="//analytics.meituan.com" />
    <link rel="dns-prefetch" href="//report.meituan.com" />
    <link rel="dns-prefetch" href="//frep.meituan.com" />


    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta http-equiv="cleartype" content="yes" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="renderer" content="webkit" />

    <meta name="HandheldFriendly" content="true" />
    <meta name="format-detection" content="email=no" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <script>"use strict";!function(){var i=0<arguments.length&&void 0!==arguments[0]?arguments[0]:"_Owl_",n=window;n[i]||(n[i]={isRunning:!1,isReady:!1,preTasks:[],dataSet:[],use:function(i,t){this.isReady&&n.Owl&&n.Owl[i](t),this.preTasks.push({api:i,data:[t]})},add:function(i){this.dataSet.push(i)},run:function(){var t=this;if(!this.isRunning){this.isRunning=!0;var i=n.onerror;n.onerror=function(){this.isReady||this.add({type:"jsError",data:arguments}),i&&i.apply(n,arguments)}.bind(this),(n.addEventListener||n.attachEvent)("error",function(i){t.isReady||t.add({type:"resError",data:[i]})},!0)}}},n[i].run())}();</script>
    <script>
  cid = "c_nkjmw4k8";
  ci = 10;
    window.system = {"movieId":"344328","myComment":null,"districtFilter":{"2":{"count":21,"id":2,"name":"徐汇区","subItems":[{"count":21,"id":-1,"name":"全部","href":"?areaId=-1"},{"count":8,"id":345,"name":"漕河泾/田林","href":"?areaId=345"},{"count":4,"id":338,"name":"徐家汇","href":"?areaId=338"},{"count":4,"id":344,"name":"龙华","href":"?areaId=344"},{"count":2,"id":346,"name":"上海南站","href":"?areaId=346"},{"count":1,"id":343,"name":"音乐学院/五官科医院","href":"?areaId=343"},{"count":1,"id":342,"name":"肇嘉浜路/中山医院","href":"?areaId=342"},{"count":1,"id":339,"name":"万体馆","href":"?areaId=339"}],"href":"?districtId=2"},"3":{"count":16,"id":3,"name":"静安区","subItems":[{"count":16,"id":-1,"name":"全部","href":"?areaId=-1"},{"count":3,"id":9076,"name":"大宁国际","href":"?areaId=9076"},{"count":3,"id":286,"name":"静安寺","href":"?areaId=286"},{"count":3,"id":285,"name":"南京西路","href":"?areaId=285"},{"count":3,"id":9403,"name":"市北工业园/汶水路","href":"?areaId=9403"},{"count":1,"id":304,"name":"闸北公园","href":"?areaId=304"},{"count":1,"id":9054,"name":"大悦城","href":"?areaId=9054"},{"count":1,"id":9401,"name":"彭浦镇","href":"?areaId=9401"}],"href":"?districtId=3"},"4":{"count":12,"id":4,"name":"长宁区","subItems":[{"count":12,"id":-1,"name":"全部","href":"?areaId=-1"},{"count":5,"id":313,"name":"娄山关路/威宁路","href":"?areaId=313"},{"count":3,"id":315,"name":"中山公园/江苏路","href":"?areaId=315"},{"count":2,"id":316,"name":"上海影城/新华路","href":"?areaId=316"},{"count":1,"id":314,"name":"古北/仙霞新村","href":"?areaId=314"},{"count":1,"id":318,"name":"北新泾/淞虹路","href":"?areaId=318"}],"href":"?districtId=4"},"5":{"count":73,"id":5,"name":"浦东新区","subItems":[{"count":73,"id":-1,"name":"全部","href":"?areaId=-1"},{"count":13,"id":31968,"name":"世博园","href":"?areaId=31968"},{"count":9,"id":31389,"name":"迪士尼","href":"?areaId=31389"},{"count":7,"id":282,"name":"张江","href":"?areaId=282"},{"count":7,"id":280,"name":"金桥","href":"?areaId=280"},{"count":6,"id":275,"name":"陆家嘴","href":"?areaId=275"},{"count":5,"id":12141,"name":"滴水湖临港地区","href":"?areaId=12141"},{"count":4,"id":277,"name":"世纪公园","href":"?areaId=277"},{"count":4,"id":276,"name":"八佰伴","href":"?areaId=276"},{"count":3,"id":9656,"name":"曹路","href":"?areaId=9656"},{"count":2,"id":279,"name":"外高桥","href":"?areaId=279"},{"count":2,"id":13320,"name":"浦东机场/机场镇","href":"?areaId=13320"},{"count":2,"id":4748,"name":"南汇/野生动物园","href":"?areaId=4748"},{"count":2,"id":12127,"name":"航头","href":"?areaId=12127"},{"count":1,"id":32546,"name":"新国际博览中心","href":"?areaId=32546"},{"count":1,"id":13900,"name":"高行","href":"?areaId=13900"},{"count":1,"id":7472,"name":"金桥商业广场","href":"?areaId=7472"}],"href":"?districtId=5"},"6":{"count":18,"id":6,"name":"黄浦区","subItems":[{"count":18,"id":-1,"name":"全部","href":"?areaId=-1"},{"count":7,"id":333,"name":"人民广场/南京路","href":"?areaId=333"},{"count":4,"id":308,"name":"淮海路/陕西南路","href":"?areaId=308"},{"count":3,"id":35947,"name":"西藏南路/世博会馆","href":"?areaId=35947"},{"count":2,"id":309,"name":"新天地/马当路","href":"?areaId=309"},{"count":1,"id":337,"name":"董家渡/南浦大桥","href":"?areaId=337"},{"count":1,"id":332,"name":"外滩","href":"?areaId=332"}],"href":"?districtId=6"},"7":{"count":16,"id":7,"name":"普陀区","subItems":[{"count":16,"id":-1,"name":"全部","href":"?areaId=-1"},{"count":5,"id":8905,"name":"百联中环/绿洲中环","href":"?areaId=8905"},{"count":2,"id":290,"name":"长风公园/华师大","href":"?areaId=290"},{"count":2,"id":293,"name":"中山北路/甘泉地区","href":"?areaId=293"},{"count":2,"id":1754,"name":"真如","href":"?areaId=1754"},{"count":1,"id":289,"name":"长寿路","href":"?areaId=289"},{"count":1,"id":292,"name":"梅川路","href":"?areaId=292"},{"count":1,"id":8908,"name":"月星环球港","href":"?areaId=8908"},{"count":1,"id":1755,"name":"武宁地区","href":"?areaId=1755"}],"href":"?districtId=7"},"9":{"count":8,"id":9,"name":"虹口区","subItems":[{"count":8,"id":-1,"name":"全部","href":"?areaId=-1"},{"count":2,"id":296,"name":"四川北路/海伦路","href":"?areaId=296"},{"count":2,"id":300,"name":"凉城/江湾","href":"?areaId=300"},{"count":1,"id":294,"name":"曲阳地区","href":"?areaId=294"},{"count":1,"id":298,"name":"临平路/邮电新村","href":"?areaId=298"},{"count":1,"id":299,"name":"北外滩/外白渡桥","href":"?areaId=299"},{"count":1,"id":7470,"name":"虹口龙之梦","href":"?areaId=7470"}],"href":"?districtId=9"},"10":{"count":17,"id":10,"name":"杨浦区","subItems":[{"count":17,"id":-1,"name":"全部","href":"?areaId=-1"},{"count":5,"id":327,"name":"五角场/大学区","href":"?areaId=327"},{"count":4,"id":331,"name":"东外滩","href":"?areaId=331"},{"count":4,"id":328,"name":"控江地区","href":"?areaId=328"},{"count":2,"id":329,"name":"中原地区","href":"?areaId=329"}],"href":"?districtId=10"},"12":{"count":53,"id":12,"name":"闵行区","subItems":[{"count":53,"id":-1,"name":"全部","href":"?areaId=-1"},{"count":9,"id":34399,"name":"虹桥火车站/国展中心","href":"?areaId=34399"},{"count":7,"id":325,"name":"老闵行/交大师大","href":"?areaId=325"},{"count":6,"id":321,"name":"七宝/国展中心","href":"?areaId=321"},{"count":5,"id":8944,"name":"颛桥/北桥","href":"?areaId=8944"},{"count":5,"id":8888,"name":"浦江镇","href":"?areaId=8888"},{"count":4,"id":322,"name":"莘庄","href":"?areaId=322"},{"count":4,"id":323,"name":"莲花路/南方商城","href":"?areaId=323"},{"count":3,"id":9261,"name":"吴泾镇","href":"?areaId=9261"},{"count":3,"id":324,"name":"春申地区","href":"?areaId=324"},{"count":3,"id":1423,"name":"龙柏地区","href":"?areaId=1423"},{"count":2,"id":27793,"name":"虹桥/古北","href":"?areaId=27793"},{"count":1,"id":37938,"name":"合川路","href":"?areaId=37938"},{"count":1,"id":36023,"name":"唐湾镇/曹行镇","href":"?areaId=36023"}],"href":"?districtId=12"},"13":{"count":33,"id":13,"name":"宝山区","subItems":[{"count":33,"id":-1,"name":"全部","href":"?areaId=-1"},{"count":5,"id":306,"name":"宝山城区/吴淞","href":"?areaId=306"},{"count":4,"id":7727,"name":"杨行镇","href":"?areaId=7727"},{"count":3,"id":9225,"name":"美兰湖","href":"?areaId=9225"},{"count":3,"id":7651,"name":"顾村公园","href":"?areaId=7651"},{"count":3,"id":305,"name":"大华地区","href":"?areaId=305"},{"count":3,"id":7681,"name":"淞南/高境","href":"?areaId=7681"},{"count":3,"id":1422,"name":"上海大学","href":"?areaId=1422"},{"count":2,"id":307,"name":"庙行镇","href":"?areaId=307"},{"count":2,"id":38575,"name":"高境","href":"?areaId=38575"},{"count":1,"id":7414,"name":"宝山万达广场","href":"?areaId=7414"},{"count":1,"id":7682,"name":"通河/泗塘","href":"?areaId=7682"},{"count":1,"id":7726,"name":"月浦镇","href":"?areaId=7726"}],"href":"?districtId=13"},"664":{"count":13,"id":664,"name":"奉贤区","subItems":[{"count":13,"id":-1,"name":"全部","href":"?areaId=-1"},{"count":2,"id":13881,"name":"金汇镇","href":"?areaId=13881"},{"count":1,"id":9250,"name":"南桥新都汇","href":"?areaId=9250"},{"count":1,"id":9551,"name":"南桥新城区","href":"?areaId=9551"},{"count":1,"id":12591,"name":"柘林镇","href":"?areaId=12591"},{"count":1,"id":9143,"name":"南桥百联购物中心","href":"?areaId=9143"},{"count":1,"id":9138,"name":"西渡镇","href":"?areaId=9138"}],"href":"?districtId=664"},"665":{"count":10,"id":665,"name":"金山区","subItems":[{"count":10,"id":-1,"name":"全部","href":"?areaId=-1"},{"count":3,"id":9150,"name":"朱泾镇","href":"?areaId=9150"},{"count":2,"id":19452,"name":"万达广场","href":"?areaId=19452"},{"count":1,"id":13907,"name":"易家商业中心","href":"?areaId=13907"},{"count":1,"id":14708,"name":"枫泾镇","href":"?areaId=14708"},{"count":1,"id":9153,"name":"百联金山购物中心","href":"?areaId=9153"},{"count":1,"id":9152,"name":"金山新城","href":"?areaId=9152"},{"count":1,"id":9416,"name":"朱行镇","href":"?areaId=9416"}],"href":"?districtId=665"},"666":{"count":3,"id":666,"name":"崇明区","subItems":[{"count":3,"id":-1,"name":"全部","href":"?areaId=-1"},{"count":1,"id":9526,"name":"堡镇","href":"?areaId=9526"},{"count":1,"id":15072,"name":"长兴岛","href":"?areaId=15072"},{"count":1,"id":9325,"name":"南门","href":"?areaId=9325"}],"href":"?districtId=666"},"4737":{"count":28,"id":4737,"name":"松江区","subItems":[{"count":28,"id":-1,"name":"全部","href":"?areaId=-1"},{"count":5,"id":4741,"name":"松江大学城","href":"?areaId=4741"},{"count":3,"id":4743,"name":"九亭","href":"?areaId=4743"},{"count":2,"id":36533,"name":"莘庄工业区","href":"?areaId=36533"},{"count":2,"id":9341,"name":"新松江路","href":"?areaId=9341"},{"count":2,"id":4742,"name":"佘山","href":"?areaId=4742"},{"count":2,"id":8442,"name":"荣乐中路","href":"?areaId=8442"},{"count":2,"id":14062,"name":"车墩影视城","href":"?areaId=14062"},{"count":1,"id":13120,"name":"松江万达广场","href":"?areaId=13120"},{"count":1,"id":8441,"name":"泗泾镇","href":"?areaId=8441"},{"count":1,"id":8443,"name":"中山中路","href":"?areaId=8443"},{"count":1,"id":24192,"name":"新理想广场","href":"?areaId=24192"},{"count":1,"id":8887,"name":"飞航广场","href":"?areaId=8887"},{"count":1,"id":7725,"name":"鹿都国际商业广场","href":"?areaId=7725"},{"count":1,"id":16497,"name":"叶榭镇","href":"?areaId=16497"},{"count":1,"id":9089,"name":"新桥","href":"?areaId=9089"}],"href":"?districtId=4737"},"4738":{"count":26,"id":4738,"name":"嘉定区","subItems":[{"count":26,"id":-1,"name":"全部","href":"?areaId=-1"},{"count":6,"id":4744,"name":"南翔","href":"?areaId=4744"},{"count":5,"id":4746,"name":"嘉定镇","href":"?areaId=4746"},{"count":3,"id":4762,"name":"虹桥火车站/江桥","href":"?areaId=4762"},{"count":3,"id":9135,"name":"马陆镇","href":"?areaId=9135"},{"count":2,"id":14797,"name":"博乐广场/州桥老街","href":"?areaId=14797"},{"count":1,"id":14798,"name":"罗宾森广场","href":"?areaId=14798"},{"count":1,"id":14799,"name":"疁城新天地","href":"?areaId=14799"},{"count":1,"id":4745,"name":"安亭镇","href":"?areaId=4745"},{"count":1,"id":13789,"name":"安亭嘉亭荟","href":"?areaId=13789"},{"count":1,"id":9092,"name":"丰庄","href":"?areaId=9092"}],"href":"?districtId=4738"},"4739":{"count":19,"id":4739,"name":"青浦区","subItems":[{"count":19,"id":-1,"name":"全部","href":"?areaId=-1"},{"count":8,"id":9675,"name":"青浦城区","href":"?areaId=9675"},{"count":4,"id":37560,"name":"虹桥枢纽周边区","href":"?areaId=37560"},{"count":1,"id":4749,"name":"朱家角/东方绿舟","href":"?areaId=4749"},{"count":1,"id":13565,"name":"国家会展中心","href":"?areaId=13565"},{"count":1,"id":13788,"name":"家乐福/富绅国际","href":"?areaId=13788"},{"count":1,"id":12113,"name":"重固镇","href":"?areaId=12113"},{"count":1,"id":12114,"name":"赵巷镇","href":"?areaId=12114"}],"href":"?districtId=4739"}},"subwayFilter":[{"count":366,"id":-1,"name":"全部"},{"count":57,"id":21,"name":"1号线","subItems":[{"count":57,"id":-1,"name":"全部"},{"count":9,"id":230,"name":"人民广场"},{"count":6,"id":231,"name":"新闸路"},{"count":5,"id":225,"name":"徐家汇"},{"count":4,"id":229,"name":"黄陂南路"},{"count":3,"id":220,"name":"莲花路"},{"count":3,"id":223,"name":"漕宝路"},{"count":3,"id":237,"name":"汶水路"},{"count":3,"id":228,"name":"陕西南路"},{"count":3,"id":224,"name":"上海体育馆"},{"count":3,"id":240,"name":"通河新村"},{"count":2,"id":218,"name":"莘庄"},{"count":2,"id":236,"name":"上海马戏城"},{"count":2,"id":235,"name":"延长路"},{"count":2,"id":227,"name":"常熟路"},{"count":2,"id":241,"name":"呼兰路"},{"count":1,"id":221,"name":"锦江乐园"},{"count":1,"id":239,"name":"共康路"},{"count":1,"id":226,"name":"衡山路"},{"count":1,"id":244,"name":"友谊西路"},{"count":1,"id":243,"name":"宝安公路"}]},{"count":54,"id":22,"name":"2号线","subItems":[{"count":54,"id":-1,"name":"全部"},{"count":9,"id":257,"name":"人民广场"},{"count":6,"id":258,"name":"南京东路"},{"count":4,"id":255,"name":"静安寺"},{"count":4,"id":252,"name":"娄山关路"},{"count":4,"id":256,"name":"南京西路"},{"count":4,"id":260,"name":"东昌路"},{"count":3,"id":259,"name":"陆家嘴"},{"count":2,"id":253,"name":"中山公园"},{"count":2,"id":250,"name":"北新泾"},{"count":2,"id":251,"name":"威宁路"},{"count":2,"id":247,"name":"虹桥火车站"},{"count":2,"id":263,"name":"世纪公园"},{"count":2,"id":261,"name":"世纪大道"},{"count":2,"id":266,"name":"金科路"},{"count":2,"id":264,"name":"龙阳路"},{"count":1,"id":249,"name":"淞虹路"},{"count":1,"id":246,"name":"徐泾东"},{"count":1,"id":262,"name":"上海科技馆"},{"count":1,"id":265,"name":"张江高科"}]},{"count":3,"id":23,"name":"2号线东延","subItems":[{"count":3,"id":-1,"name":"全部"},{"count":3,"id":272,"name":"川沙"}]},{"count":22,"id":24,"name":"3号线","subItems":[{"count":22,"id":-1,"name":"全部"},{"count":3,"id":280,"name":"漕溪路"},{"count":2,"id":283,"name":"延安西路"},{"count":2,"id":286,"name":"曹杨路"},{"count":2,"id":284,"name":"中山公园"},{"count":2,"id":290,"name":"宝山路"},{"count":2,"id":293,"name":"赤峰路"},{"count":2,"id":303,"name":"友谊路"},{"count":1,"id":279,"name":"龙漕路"},{"count":1,"id":285,"name":"金沙江路"},{"count":1,"id":288,"name":"中潭路"},{"count":1,"id":291,"name":"东宝兴路"},{"count":1,"id":292,"name":"虹口足球场"},{"count":1,"id":296,"name":"殷高西路"},{"count":1,"id":302,"name":"宝杨路"}]},{"count":30,"id":25,"name":"4号线","subItems":[{"count":30,"id":-1,"name":"全部"},{"count":3,"id":315,"name":"海伦路"},{"count":3,"id":328,"name":"东安路"},{"count":3,"id":329,"name":"上海体育场"},{"count":2,"id":307,"name":"延安西路"},{"count":2,"id":308,"name":"中山公园"},{"count":2,"id":310,"name":"曹杨路"},{"count":2,"id":314,"name":"宝山路"},{"count":2,"id":325,"name":"西藏南路"},{"count":2,"id":320,"name":"世纪大道"},{"count":2,"id":330,"name":"上海体育馆"},{"count":1,"id":3758,"name":"浦电路(4号线)"},{"count":1,"id":309,"name":"金沙江路"},{"count":1,"id":312,"name":"中潭路"},{"count":1,"id":316,"name":"临平路"},{"count":1,"id":324,"name":"南浦大桥"},{"count":1,"id":322,"name":"蓝村路"},{"count":1,"id":323,"name":"塘桥"}]},{"count":10,"id":26,"name":"5号线","subItems":[{"count":10,"id":-1,"name":"全部"},{"count":2,"id":341,"name":"莘庄"},{"count":2,"id":338,"name":"颛桥"},{"count":2,"id":334,"name":"金平路"},{"count":1,"id":339,"name":"银都路"},{"count":1,"id":337,"name":"北桥"},{"count":1,"id":335,"name":"东川路"},{"count":1,"id":333,"name":"华宁路"}]},{"count":18,"id":27,"name":"6号线","subItems":[{"count":18,"id":-1,"name":"全部"},{"count":2,"id":359,"name":"金桥路"},{"count":2,"id":353,"name":"世纪大道"},{"count":2,"id":360,"name":"博兴路"},{"count":1,"id":3759,"name":"浦电路(6号线)"},{"count":1,"id":351,"name":"蓝村路"},{"count":1,"id":350,"name":"上海儿童医学中心"},{"count":1,"id":347,"name":"东明路"},{"count":1,"id":345,"name":"华夏西路"},{"count":1,"id":369,"name":"港城路"},{"count":1,"id":357,"name":"德平路"},{"count":1,"id":358,"name":"云山路"},{"count":1,"id":354,"name":"源深体育中心"},{"count":1,"id":365,"name":"洲海路"},{"count":1,"id":361,"name":"五莲路"},{"count":1,"id":1498,"name":"北洋泾路"}]},{"count":40,"id":28,"name":"7号线","subItems":[{"count":40,"id":-1,"name":"全部"},{"count":4,"id":387,"name":"静安寺"},{"count":3,"id":381,"name":"大华三路"},{"count":3,"id":395,"name":"云台路"},{"count":3,"id":394,"name":"耀华路"},{"count":2,"id":373,"name":"刘行"},{"count":2,"id":375,"name":"上海大学"},{"count":2,"id":400,"name":"龙阳路"},{"count":2,"id":393,"name":"长清路"},{"count":2,"id":391,"name":"龙华中路"},{"count":2,"id":390,"name":"东安路"},{"count":2,"id":389,"name":"肇嘉浜路"},{"count":2,"id":388,"name":"常熟路"},{"count":1,"id":372,"name":"潘广路"},{"count":1,"id":374,"name":"顾村公园"},{"count":1,"id":371,"name":"罗南新村"},{"count":1,"id":370,"name":"美兰湖"},{"count":1,"id":380,"name":"行知路"},{"count":1,"id":383,"name":"岚皋路"},{"count":1,"id":401,"name":"花木路"},{"count":1,"id":398,"name":"锦绣路"},{"count":1,"id":397,"name":"杨高南路"},{"count":1,"id":386,"name":"昌平路"},{"count":1,"id":385,"name":"长寿路"}]},{"count":52,"id":29,"name":"8号线","subItems":[{"count":52,"id":-1,"name":"全部"},{"count":9,"id":417,"name":"人民广场"},{"count":5,"id":416,"name":"大世界"},{"count":5,"id":418,"name":"曲阜路"},{"count":4,"id":412,"name":"中华艺术宫"},{"count":4,"id":424,"name":"鞍山新村"},{"count":3,"id":410,"name":"成山路"},{"count":3,"id":411,"name":"耀华路"},{"count":3,"id":415,"name":"老西门"},{"count":3,"id":423,"name":"四平路"},{"count":2,"id":409,"name":"杨思"},{"count":2,"id":413,"name":"西藏南路"},{"count":2,"id":425,"name":"江浦路"},{"count":2,"id":430,"name":"嫩江路"},{"count":1,"id":414,"name":"陆家浜路"},{"count":1,"id":404,"name":"江月路"},{"count":1,"id":405,"name":"浦江镇"},{"count":1,"id":421,"name":"虹口足球场"},{"count":1,"id":422,"name":"曲阳路"}]},{"count":43,"id":30,"name":"9号线","subItems":[{"count":43,"id":-1,"name":"全部"},{"count":4,"id":441,"name":"徐家汇"},{"count":4,"id":434,"name":"商城路"},{"count":3,"id":443,"name":"桂林路"},{"count":3,"id":447,"name":"七宝"},{"count":3,"id":432,"name":"杨高中路"},{"count":3,"id":449,"name":"九亭"},{"count":2,"id":4592,"name":"台儿庄路"},{"count":2,"id":4588,"name":"顾唐路"},{"count":2,"id":4587,"name":"芳甸路"},{"count":2,"id":1315,"name":"醉白池"},{"count":2,"id":440,"name":"肇嘉浜路"},{"count":2,"id":433,"name":"世纪大道"},{"count":2,"id":453,"name":"松江大学城"},{"count":1,"id":4591,"name":"金桥"},{"count":1,"id":1314,"name":"松江体育中心"},{"count":1,"id":446,"name":"星中路"},{"count":1,"id":435,"name":"小南门"},{"count":1,"id":436,"name":"陆家浜路"},{"count":1,"id":437,"name":"马当路"},{"count":1,"id":438,"name":"打浦桥"},{"count":1,"id":451,"name":"佘山"},{"count":1,"id":450,"name":"泗泾"}]},{"count":47,"id":17,"name":"10号线","subItems":[{"count":47,"id":-1,"name":"全部"},{"count":5,"id":473,"name":"交通大学"},{"count":4,"id":470,"name":"新天地"},{"count":4,"id":468,"name":"豫园"},{"count":4,"id":466,"name":"天潼路"},{"count":3,"id":471,"name":"陕西南路"},{"count":3,"id":469,"name":"老西门"},{"count":3,"id":467,"name":"南京东路"},{"count":3,"id":462,"name":"四平路"},{"count":3,"id":459,"name":"五角场"},{"count":3,"id":458,"name":"江湾体育场"},{"count":2,"id":464,"name":"海伦路"},{"count":2,"id":465,"name":"四川北路"},{"count":2,"id":463,"name":"邮电新村"},{"count":2,"id":482,"name":"虹桥火车站"},{"count":1,"id":474,"name":"虹桥路"},{"count":1,"id":461,"name":"同济大学"},{"count":1,"id":456,"name":"殷高东路"},{"count":1,"id":455,"name":"新江湾城"}]},{"count":52,"id":18,"name":"10号线支线","subItems":[{"count":52,"id":-1,"name":"全部"},{"count":5,"id":501,"name":"交通大学"},{"count":4,"id":507,"name":"龙柏新村"},{"count":4,"id":496,"name":"豫园"},{"count":4,"id":498,"name":"新天地"},{"count":4,"id":495,"name":"南京东路"},{"count":4,"id":494,"name":"天潼路"},{"count":3,"id":508,"name":"紫藤路"},{"count":3,"id":497,"name":"老西门"},{"count":3,"id":499,"name":"陕西南路"},{"count":3,"id":490,"name":"四平路"},{"count":3,"id":487,"name":"五角场"},{"count":3,"id":486,"name":"江湾体育场"},{"count":2,"id":493,"name":"四川北路"},{"count":2,"id":489,"name":"同济大学"},{"count":1,"id":509,"name":"航中路"},{"count":1,"id":492,"name":"海伦路"},{"count":1,"id":491,"name":"邮电新村"},{"count":1,"id":484,"name":"殷高东路"},{"count":1,"id":483,"name":"新江湾城"}]},{"count":39,"id":19,"name":"11号线","subItems":[{"count":39,"id":-1,"name":"全部"},{"count":5,"id":1290,"name":"交通大学"},{"count":5,"id":1291,"name":"徐家汇"},{"count":4,"id":1292,"name":"上海游泳馆"},{"count":3,"id":520,"name":"南翔"},{"count":2,"id":512,"name":"曹杨路"},{"count":2,"id":513,"name":"枫桥路"},{"count":2,"id":514,"name":"真如"},{"count":2,"id":515,"name":"上海西站"},{"count":2,"id":526,"name":"安亭"},{"count":2,"id":1298,"name":"三林东"},{"count":2,"id":1293,"name":"龙华"},{"count":2,"id":511,"name":"隆德路"},{"count":1,"id":517,"name":"祁连山路"},{"count":1,"id":519,"name":"桃浦新村"},{"count":1,"id":522,"name":"嘉定新城"},{"count":1,"id":1297,"name":"三林"},{"count":1,"id":1294,"name":"云锦路"},{"count":1,"id":1295,"name":"龙耀路"}]},{"count":43,"id":77,"name":"12号线","subItems":[{"count":43,"id":-1,"name":"全部"},{"count":5,"id":3955,"name":"南京西路"},{"count":5,"id":1513,"name":"曲阜路"},{"count":4,"id":3946,"name":"漕宝路"},{"count":4,"id":3952,"name":"桂林公园"},{"count":4,"id":1511,"name":"天潼路"},{"count":3,"id":3943,"name":"陕西南路"},{"count":3,"id":1518,"name":"宁国路"},{"count":2,"id":3944,"name":"虹漕路"},{"count":2,"id":3958,"name":"龙华中路"},{"count":2,"id":1514,"name":"隆昌路"},{"count":1,"id":3945,"name":"龙漕路"},{"count":1,"id":3951,"name":"汉中路"},{"count":1,"id":3953,"name":"龙华"},{"count":1,"id":3956,"name":"七莘路"},{"count":1,"id":1508,"name":"提篮桥"},{"count":1,"id":1510,"name":"杨高北路"},{"count":1,"id":1507,"name":"国际客运中心"},{"count":1,"id":1506,"name":"金京路"},{"count":1,"id":1515,"name":"巨峰路"}]},{"count":41,"id":74,"name":"13号线","subItems":[{"count":41,"id":-1,"name":"全部"},{"count":4,"id":1430,"name":"真北路"},{"count":3,"id":4868,"name":"华鹏路"},{"count":3,"id":3969,"name":"南京西路"},{"count":3,"id":3968,"name":"新天地"},{"count":3,"id":1500,"name":"武宁路"},{"count":3,"id":3963,"name":"淮海中路"},{"count":3,"id":3965,"name":"自然博物馆"},{"count":3,"id":4859,"name":"成山路"},{"count":2,"id":1502,"name":"隆德路"},{"count":2,"id":3967,"name":"世博大道"},{"count":2,"id":4858,"name":"长清路"},{"count":1,"id":1501,"name":"长寿路"},{"count":1,"id":3961,"name":"汉中路"},{"count":1,"id":3964,"name":"江宁路"},{"count":1,"id":3966,"name":"马当路"},{"count":1,"id":1426,"name":"金运路"},{"count":1,"id":1431,"name":"金沙江路"},{"count":1,"id":1432,"name":"大渡河路"},{"count":1,"id":4857,"name":"中科路"},{"count":1,"id":4861,"name":"东明路"},{"count":1,"id":4860,"name":"下南路"}]},{"count":5,"id":81,"name":"16号线","subItems":[{"count":5,"id":-1,"name":"全部"},{"count":2,"id":1617,"name":"龙阳路"},{"count":2,"id":1622,"name":"惠南"},{"count":1,"id":1628,"name":"周浦东"}]},{"count":5,"id":173,"name":"17号线","subItems":[{"count":5,"id":-1,"name":"全部"},{"count":2,"id":4607,"name":"虹桥火车站"},{"count":1,"id":4605,"name":"诸光路"},{"count":1,"id":4606,"name":"嘉松中路"},{"count":1,"id":4597,"name":"汇金路"}]},{"count":2,"id":31,"name":"磁悬浮线","subItems":[{"count":2,"id":-1,"name":"全部"},{"count":2,"id":543,"name":"龙阳路"}]}],"query":{"movieId":"344328"}};

  window.openPlatform = '';
  window.openPlatformSub = '';
  window.$mtsiFlag = '0';

    </script>
    <link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/common.d0f96cc2.css" />
    <link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/cinemas-list.81574a4d.css" />
    <script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/stat.88d57c80.js"></script>
    <script>if(window.devicePixelRatio >= 2) { document.write('<link rel="stylesheet" href="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/image-2x.8ba7074d.css"/>') }</script>
</head>
<body>


    <div class="header">
        <div class="header-inner">
            <a href="/" class="logo" data-act="icon-click"></a>
            <div class="city-container" data-val="{currentcityid:10 }">
                <div class="city-selected">
                    <div class="city-name">
                        上海
                        <span class="caret"></span>
                    </div>
                </div>
                <div class="city-list" data-val="{ localcityid: 10 }">
                    <div class="city-list-header">定位城市：<a class="js-geo-city">上海</a></div>

                </div>
            </div>


            <div class="nav">
                <ul class="navbar">
                    <li><a href="/" data-act="home-click">首页</a></li>
                    <li><a href="/films" data-act="movies-click">电影</a></li>
                    <li><a href="/cinemas" data-act="cinemas-click" class="active">影院</a></li>
                    <li><a href="http://www.gewara.com">演出</a></li>

                    <li><a href="/board" data-act="board-click">榜单</a></li>
                    <li><a href="/news" data-act="hotNews-click">热点</a></li>
                    <li><a href="/edimall">商城</a></li>
                </ul>
            </div>

            <div class="user-info">
                <div class="user-avatar J-login">
                    <img src="https://p0.meituan.net/movie/7dd82a16316ab32c8359debdb04396ef2897.png">
                    <span class="caret"></span>
                    <ul class="user-menu">
                        <li><a href="javascript:void 0">登录</a></li>
                    </ul>
                </div>
            </div>

            <form action="/query" target="_blank" class="search-form" data-actform="search-click">
                <input name="kw" class="search" type="search" maxlength="32" placeholder="找影视剧、影人、影院" autocomplete="off">
                <input class="submit" type="submit" value="">
            </form>

            <div class="app-download">
                <a href="/app" target="_blank">
                    <span class="iphone-icon"></span>
                    <span class="apptext">APP下载</span>
                    <span class="caret"></span>
                    <div class="download-icon">
                        <p class="down-title">扫码下载APP</p>
                        <p class='down-content'>选座更优惠</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
    <div class="header-placeholder"></div>

    <div class="banner">
        <div class="wrapper clearfix">
            <div class="celeInfo-left">
                <div class="avatar-shadow">
                    <img class="avatar" src="https://p0.meituan.net/movie/47af2656af6cd0110057bc527b862c665484423.jpg@464w_644h_1e_1c" alt="">
                    <div class="movie-ver"><i class="imax3d"></i></div>
                </div>
            </div>
            <div class="celeInfo-right clearfix">
                <div class="movie-brief-container">
                    <h3 class="name">X战警：黑凤凰</h3>
                    <div class="ename ellipsis">X-Men: Dark Phoenix</div>
                    <ul>
                        <li class="ellipsis">动作,冒险,科幻</li>
                        <li class="ellipsis">
                            美国
                            / 114分钟
                        </li>
                        <li class="ellipsis">2019-06-06大陆上映</li>
                    </ul>
                </div>
                <div class="action-buyBtn">
                    <div class="action clearfix" data-val="{movieid:344328}">
                        <a class="wish " data-wish="false" data-score="" data-bid="b_gbxqtw6x">
                            <div>
                                <i class="icon wish-icon"></i>
                                <span class="wish-msg" data-act="wish-click">想看</span>
                            </div>
                        </a>
                        <a class="score-btn " data-bid="b_rxxpcgwd">
                            <div>
                                <i class="icon score-btn-icon"></i>
                                <span class="score-btn-msg" data-act="comment-open-click">
                                    评分
                                </span>
                            </div>
                        </a>
                    </div>
                    <a class="btn buy" href="/films/344328" target="_blank" data-act="more-detail-click" data-bid="b_ozuzh4j4">查看更多电影详情</a>
                </div>

                <div class="movie-stats-container">

                    <div class="movie-index">
                        <p class="movie-index-title">用户评分</p>
                        <div class="movie-index-content score normal-score">
                            <span class="index-left info-num ">
                                <span class="stonefont">&#xe0c7;.&#xe0c7;</span>
                            </span>
                            <div class="index-right">
                                <div class='star-wrapper'>
                                    <div class="star-on" style="width:77%;"></div>
                                </div>
                                <span class='score-num'><span class="stonefont">&#xe0c7;&#xeac5;&#xe25c;&#xef27;&#xf076;</span>人评分</span>
                            </div>
                        </div>
                    </div>



                    <div class="movie-index">
                        <p class="movie-index-title">累计票房</p>
                        <div class="movie-index-content box">
                            <span class="stonefont">&#xe8de;.&#xe25c;&#xf33f;</span><span class="unit">亿</span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <div class="container" id="app" class="page-cinemas/list">
        <div class="tags-panel">
            <ul class="tags-lines">


                <li class="tags-line">
                    <div class="tags-title">日期:</div>
                    <ul class="tags">
                        <li class="active">
                            <a data-act="tag-click"
                               data-val="{TagName:'2019-06-08'}"
                               data-bid="b_beyqev3w"
                               href="?movieId=344328&amp;showDate=2019-06-08">
                                今天 6月8
                            </a>
                        </li>
                        <li class="">
                            <a data-act="tag-click"
                               data-val="{TagName:'2019-06-09'}"
                               data-bid="b_beyqev3w"
                               href="?movieId=344328&amp;showDate=2019-06-09">
                                周日 6月9
                            </a>
                        </li>
                        <li class="">
                            <a data-act="tag-click"
                               data-val="{TagName:'2019-06-10'}"
                               data-bid="b_beyqev3w"
                               href="?movieId=344328&amp;showDate=2019-06-10">
                                后天 6月10
                            </a>
                        </li>
                        <li class="">
                            <a data-act="tag-click"
                               data-val="{TagName:'2019-06-11'}"
                               data-bid="b_beyqev3w"
                               href="?movieId=344328&amp;showDate=2019-06-11">
                                周二 6月11
                            </a>
                        </li>
                        <li class="">
                            <a data-act="tag-click"
                               data-val="{TagName:'2019-06-12'}"
                               data-bid="b_beyqev3w"
                               href="?movieId=344328&amp;showDate=2019-06-12">
                                周三 6月12
                            </a>
                        </li>
                        <li class="">
                            <a data-act="tag-click"
                               data-val="{TagName:'2019-06-13'}"
                               data-bid="b_beyqev3w"
                               href="?movieId=344328&amp;showDate=2019-06-13">
                                周四 6月13
                            </a>
                        </li>
                        <li class="">
                            <a data-act="tag-click"
                               data-val="{TagName:'2019-06-14'}"
                               data-bid="b_beyqev3w"
                               href="?movieId=344328&amp;showDate=2019-06-14">
                                周五 6月14
                            </a>
                        </li>
                        <li class="">
                            <a data-act="tag-click"
                               data-val="{TagName:'2019-06-15'}"
                               data-bid="b_beyqev3w"
                               href="?movieId=344328&amp;showDate=2019-06-15">
                                周六 6月15
                            </a>
                        </li>
                        <li class="">
                            <a data-act="tag-click"
                               data-val="{TagName:'2019-06-16'}"
                               data-bid="b_beyqev3w"
                               href="?movieId=344328&amp;showDate=2019-06-16">
                                周日 6月16
                            </a>
                        </li>
                        <li class="">
                            <a data-act="tag-click"
                               data-val="{TagName:'2019-06-17'}"
                               data-bid="b_beyqev3w"
                               href="?movieId=344328&amp;showDate=2019-06-17">
                                周一 6月17
                            </a>
                        </li>
                        <li class="">
                            <a data-act="tag-click"
                               data-val="{TagName:'2019-06-24'}"
                               data-bid="b_beyqev3w"
                               href="?movieId=344328&amp;showDate=2019-06-24">
                                周一 6月24
                            </a>
                        </li>
                    </ul>
                </li>


                <li class="tags-line tags-line-border" data-type="brand">
                    <div class="tags-title">品牌:</div>
                    <ul class="tags">
                        <li class="active">
                            <a data-act="tag-click" data-val="{TagName:'全部', city_id:10}" data-id="-1" href="?movieId=344328&amp;brandId=-1" data-bid="b_n6nqkt97">全部</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'SFC上影影城', city_id:10}" data-id="2880988" href="?movieId=344328&amp;brandId=2880988" data-bid="b_n6nqkt97">SFC上影影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'万达影城', city_id:10}" data-id="102642" href="?movieId=344328&amp;brandId=102642" data-bid="b_n6nqkt97">万达影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'大地影院', city_id:10}" data-id="384262" href="?movieId=344328&amp;brandId=384262" data-bid="b_n6nqkt97">大地影院</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'星美国际影城', city_id:10}" data-id="30032" href="?movieId=344328&amp;brandId=30032" data-bid="b_n6nqkt97">星美国际影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'百丽宫影城', city_id:10}" data-id="822548" href="?movieId=344328&amp;brandId=822548" data-bid="b_n6nqkt97">百丽宫影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'橙天嘉禾影城', city_id:10}" data-id="24745" href="?movieId=344328&amp;brandId=24745" data-bid="b_n6nqkt97">橙天嘉禾影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'横店电影城', city_id:10}" data-id="26045" href="?movieId=344328&amp;brandId=26045" data-bid="b_n6nqkt97">横店电影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'金逸影城', city_id:10}" data-id="1079568" href="?movieId=344328&amp;brandId=1079568" data-bid="b_n6nqkt97">金逸影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'CGV影城', city_id:10}" data-id="2020418" href="?movieId=344328&amp;brandId=2020418" data-bid="b_n6nqkt97">CGV影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'大光明电影院', city_id:10}" data-id="381681" href="?movieId=344328&amp;brandId=381681" data-bid="b_n6nqkt97">大光明电影院</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'中影国际影城', city_id:10}" data-id="23745" href="?movieId=344328&amp;brandId=23745" data-bid="b_n6nqkt97">中影国际影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'博纳国际影城', city_id:10}" data-id="24595" href="?movieId=344328&amp;brandId=24595" data-bid="b_n6nqkt97">博纳国际影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'保利国际影城', city_id:10}" data-id="24472" href="?movieId=344328&amp;brandId=24472" data-bid="b_n6nqkt97">保利国际影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'比高电影城', city_id:10}" data-id="24525" href="?movieId=344328&amp;brandId=24525" data-bid="b_n6nqkt97">比高电影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'UME国际影城', city_id:10}" data-id="24071" href="?movieId=344328&amp;brandId=24071" data-bid="b_n6nqkt97">UME国际影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'海上国际影城', city_id:10}" data-id="25737" href="?movieId=344328&amp;brandId=25737" data-bid="b_n6nqkt97">海上国际影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'耀莱成龙国际影城', city_id:10}" data-id="30227" href="?movieId=344328&amp;brandId=30227" data-bid="b_n6nqkt97">耀莱成龙国际影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'幸福蓝海国际影城', city_id:10}" data-id="30053" href="?movieId=344328&amp;brandId=30053" data-bid="b_n6nqkt97">幸福蓝海国际影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'17.5影城', city_id:10}" data-id="23854" href="?movieId=344328&amp;brandId=23854" data-bid="b_n6nqkt97">17.5影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'佰迦乐大光明影城', city_id:10}" data-id="202486" href="?movieId=344328&amp;brandId=202486" data-bid="b_n6nqkt97">佰迦乐大光明影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'卢米埃影城', city_id:10}" data-id="292030" href="?movieId=344328&amp;brandId=292030" data-bid="b_n6nqkt97">卢米埃影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'左岸国际影城', city_id:10}" data-id="494396" href="?movieId=344328&amp;brandId=494396" data-bid="b_n6nqkt97">左岸国际影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'天山影城', city_id:10}" data-id="402638" href="?movieId=344328&amp;brandId=402638" data-bid="b_n6nqkt97">天山影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'万裕国际影城', city_id:10}" data-id="102216" href="?movieId=344328&amp;brandId=102216" data-bid="b_n6nqkt97">万裕国际影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'永乐影城', city_id:10}" data-id="690075" href="?movieId=344328&amp;brandId=690075" data-bid="b_n6nqkt97">永乐影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'美亚影城', city_id:10}" data-id="908323" href="?movieId=344328&amp;brandId=908323" data-bid="b_n6nqkt97">美亚影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'太平洋电影城', city_id:10}" data-id="28975" href="?movieId=344328&amp;brandId=28975" data-bid="b_n6nqkt97">太平洋电影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'华谊兄弟影院', city_id:10}" data-id="275830" href="?movieId=344328&amp;brandId=275830" data-bid="b_n6nqkt97">华谊兄弟影院</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'艾米1895影院', city_id:10}" data-id="954428" href="?movieId=344328&amp;brandId=954428" data-bid="b_n6nqkt97">艾米1895影院</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'星光影城', city_id:10}" data-id="30012" href="?movieId=344328&amp;brandId=30012" data-bid="b_n6nqkt97">星光影城</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'其他', city_id:10}" data-id="0" href="?movieId=344328&amp;brandId=0" data-bid="b_n6nqkt97">其他</a>
                        </li>
                    </ul>
                </li>
                <li class="tags-line tags-line-border" data-type="district">
                    <div class="tags-title">行政区:</div>
                    <ul class="tags">
                        <li class="active">
                            <a data-act="tag-click" data-val="{TagName:'全部', city_id:10}" data-id="-1" href="?movieId=344328&amp;districtId=-1" data-bid="b_ofl973zc">全部</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'地铁附近', city_id:10}" data-id="-2" href="?movieId=344328&amp;districtId=-2" data-bid="b_ofl973zc">地铁附近</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'浦东新区', city_id:10}" data-id="5" href="?movieId=344328&amp;districtId=5" data-bid="b_ofl973zc">浦东新区</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'闵行区', city_id:10}" data-id="12" href="?movieId=344328&amp;districtId=12" data-bid="b_ofl973zc">闵行区</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'宝山区', city_id:10}" data-id="13" href="?movieId=344328&amp;districtId=13" data-bid="b_ofl973zc">宝山区</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'松江区', city_id:10}" data-id="4737" href="?movieId=344328&amp;districtId=4737" data-bid="b_ofl973zc">松江区</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'嘉定区', city_id:10}" data-id="4738" href="?movieId=344328&amp;districtId=4738" data-bid="b_ofl973zc">嘉定区</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'徐汇区', city_id:10}" data-id="2" href="?movieId=344328&amp;districtId=2" data-bid="b_ofl973zc">徐汇区</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'青浦区', city_id:10}" data-id="4739" href="?movieId=344328&amp;districtId=4739" data-bid="b_ofl973zc">青浦区</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'黄浦区', city_id:10}" data-id="6" href="?movieId=344328&amp;districtId=6" data-bid="b_ofl973zc">黄浦区</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'杨浦区', city_id:10}" data-id="10" href="?movieId=344328&amp;districtId=10" data-bid="b_ofl973zc">杨浦区</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'静安区', city_id:10}" data-id="3" href="?movieId=344328&amp;districtId=3" data-bid="b_ofl973zc">静安区</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'普陀区', city_id:10}" data-id="7" href="?movieId=344328&amp;districtId=7" data-bid="b_ofl973zc">普陀区</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'奉贤区', city_id:10}" data-id="664" href="?movieId=344328&amp;districtId=664" data-bid="b_ofl973zc">奉贤区</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'长宁区', city_id:10}" data-id="4" href="?movieId=344328&amp;districtId=4" data-bid="b_ofl973zc">长宁区</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'金山区', city_id:10}" data-id="665" href="?movieId=344328&amp;districtId=665" data-bid="b_ofl973zc">金山区</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'虹口区', city_id:10}" data-id="9" href="?movieId=344328&amp;districtId=9" data-bid="b_ofl973zc">虹口区</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'崇明区', city_id:10}" data-id="666" href="?movieId=344328&amp;districtId=666" data-bid="b_ofl973zc">崇明区</a>
                        </li>
                    </ul>
                </li>
                <li class="tags-line tags-line-border" data-type="hallType">
                    <div class="tags-title">特殊厅:</div>
                    <ul class="tags">
                        <li class="active">
                            <a data-act="tag-click" data-val="{TagName:'全部', city_id:10}" data-id="-1" href="?movieId=344328&amp;hallType=-1" data-bid="b_oz4r0rs9">全部</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'IMAX厅', city_id:10}" data-id="2" href="?movieId=344328&amp;hallType=2" data-bid="b_oz4r0rs9">IMAX厅</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'CGS中国巨幕厅', city_id:10}" data-id="3" href="?movieId=344328&amp;hallType=3" data-bid="b_oz4r0rs9">CGS中国巨幕厅</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'杜比全景声厅', city_id:10}" data-id="9" href="?movieId=344328&amp;hallType=9" data-bid="b_oz4r0rs9">杜比全景声厅</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'Dolby Cinema厅', city_id:10}" data-id="22" href="?movieId=344328&amp;hallType=22" data-bid="b_oz4r0rs9">Dolby Cinema厅</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'RealD厅', city_id:10}" data-id="10" href="?movieId=344328&amp;hallType=10" data-bid="b_oz4r0rs9">RealD厅</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'RealD 6FL厅', city_id:10}" data-id="11" href="?movieId=344328&amp;hallType=11" data-bid="b_oz4r0rs9">RealD 6FL厅</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'LUXE巨幕厅', city_id:10}" data-id="5" href="?movieId=344328&amp;hallType=5" data-bid="b_oz4r0rs9">LUXE巨幕厅</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'4DX厅', city_id:10}" data-id="4" href="?movieId=344328&amp;hallType=4" data-bid="b_oz4r0rs9">4DX厅</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'DTS:X 临境音厅', city_id:10}" data-id="25" href="?movieId=344328&amp;hallType=25" data-bid="b_oz4r0rs9">DTS:X 临境音厅</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'4K厅', city_id:10}" data-id="8" href="?movieId=344328&amp;hallType=8" data-bid="b_oz4r0rs9">4K厅</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'4D厅', city_id:10}" data-id="7" href="?movieId=344328&amp;hallType=7" data-bid="b_oz4r0rs9">4D厅</a>
                        </li>
                        <li class="">
                            <a data-act="tag-click" data-val="{TagName:'巨幕厅', city_id:10}" data-id="6" href="?movieId=344328&amp;hallType=6" data-bid="b_oz4r0rs9">巨幕厅</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="cinemas-list">
            <h2 class="cinemas-list-header">影院列表</h2>

            <div class="cinema-cell">
                <div class="cinema-info">
                    <a href="/cinema/13237?poi=51904564&amp;movieId=344328" class="cinema-name" data-act="cinema-name-click" data-bid="b_wek7vrx9" data-val="{city_id: 10, cinema_id: 13237}">万达影城（金山万达广场店）</a>
                    <p class="cinema-address">地址：金山区龙皓路1088号万达广场四楼（蒙山北路）</p>
                </div>

                <div class="buy-btn">
                    <a href="/cinema/13237?poi=51904564&amp;movieId=344328" data-act="buy-btn-click" data-val="{city_id: 10, cinema_id: 13237}" data-bid="b_wek7vrx9">选座购票</a>
                </div>

                <div class="price">
                    <span class="rmb red">￥</span>
                    <span class="price-num red"><span class="stonefont">&#xe119;&#xef27;.&#xf33f;</span></span>
                    <span>起</span>
                </div>
            </div>
            <div class="cinema-cell">
                <div class="cinema-info">
                    <a href="/cinema/23889?poi=160251002&amp;movieId=344328" class="cinema-name" data-act="cinema-name-click" data-bid="b_wek7vrx9" data-val="{city_id: 10, cinema_id: 23889}">珠影沪亚国际影城（松江店）</a>
                    <p class="cinema-address">地址：松江区车墩镇南乐路456号4幢4层</p>
                </div>

                <div class="buy-btn">
                    <a href="/cinema/23889?poi=160251002&amp;movieId=344328" data-act="buy-btn-click" data-val="{city_id: 10, cinema_id: 23889}" data-bid="b_wek7vrx9">选座购票</a>
                </div>

                <div class="price">
                    <span class="rmb red">￥</span>
                    <span class="price-num red"><span class="stonefont">&#xe119;&#xf691;</span></span>
                    <span>起</span>
                </div>
            </div>
            <div class="cinema-cell">
                <div class="cinema-info">
                    <a href="/cinema/16953?poi=150015802&amp;movieId=344328" class="cinema-name" data-act="cinema-name-click" data-bid="b_wek7vrx9" data-val="{city_id: 10, cinema_id: 16953}">大光明丽星汇影城（杨浦店）</a>
                    <p class="cinema-address">地址：杨浦区民星路378号太平洋生活广场2F</p>
                </div>

                <div class="buy-btn">
                    <a href="/cinema/16953?poi=150015802&amp;movieId=344328" data-act="buy-btn-click" data-val="{city_id: 10, cinema_id: 16953}" data-bid="b_wek7vrx9">选座购票</a>
                </div>

                <div class="price">
                    <span class="rmb red">￥</span>
                    <span class="price-num red"><span class="stonefont">&#xef27;&#xf691;</span></span>
                    <span>起</span>
                </div>
            </div>
            <div class="cinema-cell">
                <div class="cinema-info">
                    <a href="/cinema/15754?poi=96248908&amp;movieId=344328" class="cinema-name" data-act="cinema-name-click" data-bid="b_wek7vrx9" data-val="{city_id: 10, cinema_id: 15754}">中宏影城</a>
                    <p class="cinema-address">地址：宝山区殷高西路555号西区3楼</p>
                </div>

                <div class="buy-btn">
                    <a href="/cinema/15754?poi=96248908&amp;movieId=344328" data-act="buy-btn-click" data-val="{city_id: 10, cinema_id: 15754}" data-bid="b_wek7vrx9">选座购票</a>
                </div>

                <div class="price">
                    <span class="rmb red">￥</span>
                    <span class="price-num red"><span class="stonefont">&#xe119;&#xf33f;</span></span>
                    <span>起</span>
                </div>
            </div>
            <div class="cinema-cell">
                <div class="cinema-info">
                    <a href="/cinema/16840?poi=150068207&amp;movieId=344328" class="cinema-name" data-act="cinema-name-click" data-bid="b_wek7vrx9" data-val="{city_id: 10, cinema_id: 16840}">上影青浦时光国际影城</a>
                    <p class="cinema-address">地址：青浦区华新镇华志路789号新尚生活广场5楼</p>
                </div>

                <div class="buy-btn">
                    <a href="/cinema/16840?poi=150068207&amp;movieId=344328" data-act="buy-btn-click" data-val="{city_id: 10, cinema_id: 16840}" data-bid="b_wek7vrx9">选座购票</a>
                </div>

                <div class="price">
                    <span class="rmb red">￥</span>
                    <span class="price-num red"><span class="stonefont">&#xe119;&#xe119;</span></span>
                    <span>起</span>
                </div>
            </div>
            <div class="cinema-cell">
                <div class="cinema-info">
                    <a href="/cinema/62?poi=1078453&amp;movieId=344328" class="cinema-name" data-act="cinema-name-click" data-bid="b_wek7vrx9" data-val="{city_id: 10, cinema_id: 62}">百丽宫影城（ifc商场店）</a>
                    <p class="cinema-address">地址：浦东新区陆家嘴世纪大道8号上海国金中心商场LG1-LG2层</p>
                </div>

                <div class="buy-btn">
                    <a href="/cinema/62?poi=1078453&amp;movieId=344328" data-act="buy-btn-click" data-val="{city_id: 10, cinema_id: 62}" data-bid="b_wek7vrx9">选座购票</a>
                </div>

                <div class="price">
                    <span class="rmb red">￥</span>
                    <span class="price-num red"><span class="stonefont">&#xe0c7;&#xef27;</span></span>
                    <span>起</span>
                </div>
            </div>
            <div class="cinema-cell">
                <div class="cinema-info">
                    <a href="/cinema/229?poi=384951&amp;movieId=344328" class="cinema-name" data-act="cinema-name-click" data-bid="b_wek7vrx9" data-val="{city_id: 10, cinema_id: 229}">国泰电影院</a>
                    <p class="cinema-address">地址：黄浦区淮海中路870号（茂名南路口）</p>
                </div>

                <div class="buy-btn">
                    <a href="/cinema/229?poi=384951&amp;movieId=344328" data-act="buy-btn-click" data-val="{city_id: 10, cinema_id: 229}" data-bid="b_wek7vrx9">选座购票</a>
                </div>

                <div class="price">
                    <span class="rmb red">￥</span>
                    <span class="price-num red"><span class="stonefont">&#xef27;&#xe7ee;</span></span>
                    <span>起</span>
                </div>
            </div>
            <div class="cinema-cell">
                <div class="cinema-info">
                    <a href="/cinema/16409?poi=117918890&amp;movieId=344328" class="cinema-name" data-act="cinema-name-click" data-bid="b_wek7vrx9" data-val="{city_id: 10, cinema_id: 16409}">CGV影城（七宝万科广场IMAX店）</a>
                    <p class="cinema-address">地址：闵行区漕宝路3366号上海七宝万科广场5层L501单元</p>
                </div>

                <div class="buy-btn">
                    <a href="/cinema/16409?poi=117918890&amp;movieId=344328" data-act="buy-btn-click" data-val="{city_id: 10, cinema_id: 16409}" data-bid="b_wek7vrx9">选座购票</a>
                </div>

                <div class="price">
                    <span class="rmb red">￥</span>
                    <span class="price-num red"><span class="stonefont">&#xef27;&#xe7ee;</span></span>
                    <span>起</span>
                </div>
            </div>
            <div class="cinema-cell">
                <div class="cinema-info">
                    <a href="/cinema/8219?poi=6096419&amp;movieId=344328" class="cinema-name" data-act="cinema-name-click" data-bid="b_wek7vrx9" data-val="{city_id: 10, cinema_id: 8219}">太平洋影城（文诚路店）</a>
                    <p class="cinema-address">地址：松江区文诚路500弄1号四楼（塞纳左岸）</p>
                </div>

                <div class="buy-btn">
                    <a href="/cinema/8219?poi=6096419&amp;movieId=344328" data-act="buy-btn-click" data-val="{city_id: 10, cinema_id: 8219}" data-bid="b_wek7vrx9">选座购票</a>
                </div>

                <div class="price">
                    <span class="rmb red">￥</span>
                    <span class="price-num red"><span class="stonefont">&#xe8de;&#xf33f;</span></span>
                    <span>起</span>
                </div>
            </div>
            <div class="cinema-cell">
                <div class="cinema-info">
                    <a href="/cinema/16616?poi=137329667&amp;movieId=344328" class="cinema-name" data-act="cinema-name-click" data-bid="b_wek7vrx9" data-val="{city_id: 10, cinema_id: 16616}">DFC影城金山店</a>
                    <p class="cinema-address">地址：金山区海汇街500号11号楼401室</p>
                </div>

                <div class="buy-btn">
                    <a href="/cinema/16616?poi=137329667&amp;movieId=344328" data-act="buy-btn-click" data-val="{city_id: 10, cinema_id: 16616}" data-bid="b_wek7vrx9">选座购票</a>
                </div>

                <div class="price">
                    <span class="rmb red">￥</span>
                    <span class="price-num red"><span class="stonefont">&#xe119;&#xe25c;</span></span>
                    <span>起</span>
                </div>
            </div>
            <div class="cinema-cell">
                <div class="cinema-info">
                    <a href="/cinema/221?poi=1549944&amp;movieId=344328" class="cinema-name" data-act="cinema-name-click" data-bid="b_wek7vrx9" data-val="{city_id: 10, cinema_id: 221}">世纪仙霞影城</a>
                    <p class="cinema-address">地址：长宁区仙霞西路88号百联西郊购物中心4楼（近哈密路）</p>
                </div>

                <div class="buy-btn">
                    <a href="/cinema/221?poi=1549944&amp;movieId=344328" data-act="buy-btn-click" data-val="{city_id: 10, cinema_id: 221}" data-bid="b_wek7vrx9">选座购票</a>
                </div>

                <div class="price">
                    <span class="rmb red">￥</span>
                    <span class="price-num red"><span class="stonefont">&#xe119;&#xef27;</span></span>
                    <span>起</span>
                </div>
            </div>
            <div class="cinema-cell">
                <div class="cinema-info">
                    <a href="/cinema/13187?poi=40987401&amp;movieId=344328" class="cinema-name" data-act="cinema-name-click" data-bid="b_wek7vrx9" data-val="{city_id: 10, cinema_id: 13187}">朵云轩杜比全景声影城</a>
                    <p class="cinema-address">地址：徐汇区天钥桥路1188号5楼</p>
                </div>

                <div class="buy-btn">
                    <a href="/cinema/13187?poi=40987401&amp;movieId=344328" data-act="buy-btn-click" data-val="{city_id: 10, cinema_id: 13187}" data-bid="b_wek7vrx9">选座购票</a>
                </div>

                <div class="price">
                    <span class="rmb red">￥</span>
                    <span class="price-num red"><span class="stonefont">&#xef27;&#xe8de;</span></span>
                    <span>起</span>
                </div>
            </div>

        </div>

        <div class="cinema-pager">


            <ul class="list-pager">




                <li class="active">
                    <a class="page_1"
                       href="javascript:void(0);" style="cursor: default">1</a>

                </li>
                <li>
                    <a class="page_2"
                       href="?movieId=344328&amp;offset=12">2</a>

                </li>
                <li>
                    <a class="page_3"
                       href="?movieId=344328&amp;offset=24">3</a>

                </li>
                <li>
                    <a class="page_4"
                       href="?movieId=344328&amp;offset=36">4</a>

                </li>
                <li>
                    <a class="page_5"
                       href="?movieId=344328&amp;offset=48">5</a>

                </li>

                <li class="sep">...</li>
                <li>
                    <a class="page_24"
                       href="?movieId=344328&amp;offset=276">24</a>

                </li>



                <li>
                    <a class="page_2"
                       href="?movieId=344328&amp;offset=12">下一页</a>
                </li>
            </ul>


        </div>

        <script id="comment-form-container" type="text/template">
            <form id="comment-form" data-val="{movieid:344328}">
                <div class="score-msg-container ">
                    <div class="score"><span class="num"></span>分</div>
                    <div class="score-message"></div>
                    <div class="no-score">
                        请点击星星评分
                    </div>
                </div>
                <div class="score-star-contaienr">
                    <ul class="score-star clearfix" data-score="">
                        <li>
                            <i class="half-star left "></i><i class="half-star right "></i>
                        </li>
                        <li>
                            <i class="half-star left "></i><i class="half-star right "></i>
                        </li>
                        <li>
                            <i class="half-star left "></i><i class="half-star right "></i>
                        </li>
                        <li>
                            <i class="half-star left "></i><i class="half-star right "></i>
                        </li>
                        <li>
                            <i class="half-star left "></i><i class="half-star right "></i>
                        </li>
                    </ul>

                </div>
                <div class="content-container">
                    <textarea placeholder="快来说说你的看法吧" name="content" id="" cols="30" rows="10"></textarea>
                    <span class="word-count-info"></span>
                </div>
                <input type="hidden" name="score" />
                <input class="btn" type="submit" value="提交" data-act="comment-submit-click" />
            </form>
            <div class="close">×</div>
        </script>
    </div>

    <div class="footer">
        <p class="friendly-links">
            关于猫眼 :
            <a href="http://ir.maoyan.com/s/index.php#pageScroll0" target="_blank">关于我们</a>
            <span></span>
            <a href="http://ir.maoyan.com/s/index.php#pageScroll1" target="_blank">管理团队</a>
            <span></span>
            <a href="http://ir.maoyan.com/s/index.php#pageScroll2" target="_blank">投资者关系</a>
            &nbsp;&nbsp;&nbsp;&nbsp;
            友情链接 :
            <a href="http://www.meituan.com" data-query="utm_source=wwwmaoyan" target="_blank">美团网</a>
            <span></span>
            <a href="http://www.gewara.com" data-query="utm_source=wwwmaoyan">格瓦拉</a>
            <span></span>
            <a href="http://i.meituan.com/client" data-query="utm_source=wwwmaoyan" target="_blank">美团下载</a>
            <span></span>
            <a href="https://www.huanxi.com" data-query="utm_source=maoyan_pc" target="_blank">欢喜首映</a>
        </p>
        <p class="friendly-links">
            商务合作邮箱：v@maoyan.com
            客服电话：10105335
            违法和不良信息举报电话：4006018900
            <br />
            投诉举报邮箱：tousujubao@meituan.com
            舞弊线索举报邮箱：wubijubao@maoyan.com
        </p>
        <p>
            &copy;2016
            猫眼电影 maoyan.com
            <a href="https://tsm.miit.gov.cn/pages/EnterpriseSearchList_Portal.aspx?type=0&keyword=京ICP证160733号&pageNo=1" target="_blank">京ICP证160733号</a>
            <a href="http://www.miibeian.gov.cn" target="_blank">京ICP备16022489号-1</a>
            <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11010102003232" target="_blank">京公网安备 11010102003232号</a>
            <a href="/about/licence" target="_blank">网络文化经营许可证</a>
            <a href="http://www.meituan.com/about/rules" target="_blank">电子公告服务规则</a>
        </p>
        <p>北京猫眼文化传媒有限公司</p>
    </div>

    <script crossorigin="anonymous" src="//www.dpfile.com/app/owl/static/owl_1.7.11.js"></script>
    <script>
      Owl.start({
        project: 'com.sankuai.movie.fe.mywww',
        pageUrl: location.href.split('?')[0].replace(/\/\d+/g, '/:id'),
        devMode: false
      })
    </script>
    <!--[if IE 8]><script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/es5-shim.bbad933f.js"></script><![endif]-->
    <!--[if IE 8]><script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/es5-sham.d6ea26f4.js"></script><![endif]-->
    <script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/common.96634b92.js"></script>
    <script crossorigin="anonymous" src="//s3plus.meituan.net/v1/mss_e2821d7f0cfe4ac1bf9202ecf9590e67/cdn-prod/file:5788b470/cinemas-list.da50b0b9.js"></script>
</body>
</html>
